services:
  wordpress:
    image: wordpress:latest
    ports:
      - "8888:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wordpress-data:/var/www/html
      - .:/var/www/html/wp-content/plugins/anyform
      - /Users/rick/p/tools/plugin-check:/var/www/html/wp-content/plugins/plugin-check
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db-data:/var/lib/mysql

  cli:
    image: wordpress:cli
    depends_on:
      - wordpress
      - db
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wordpress-data:/var/www/html
      - .:/var/www/html/wp-content/plugins/anyform
      - /Users/rick/p/tools/plugin-check:/var/www/html/wp-content/plugins/plugin-check
    entrypoint: wp
    command: "--info"

volumes:
  wordpress-data:
  db-data:
