<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="Anyform Plugin Tests">
            <directory suffix="-test.php">./tests/phpunit/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_TESTS_DOMAIN" value="localhost"/>
        <const name="WP_TESTS_EMAIL" value="test@localhost"/>
        <const name="WP_TESTS_TITLE" value="Test Blog"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
            <file>./anyform.php</file>
        </include>
    </coverage>
</phpunit>
